// Colors
$theme: #07a5a6;
$body-bg: #fff;

$text-color: #333;
$section-counter: #e3ecf3;

$text: #7b7b7b;
$theme: #07a5a6;

// Elements color
$circle: #08a6a7;
$circle-blue: #005380;

$breadcrums: #08a6a7;
$price: #08a6a7;


// Default colors
$white: #fff;
$black: #000;


// Buttons
$btn: #08a6a7;
$bth-hover: #0ab9ba;

$btn-light: #07a5a6;


//  Inputs
$placeholder: #9b9b9b;


// Link colors
$link-color: #ccc;
$link-color--hover: #0ab9ba;


// Typography
$font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
$badoni: 'Bodoni', 'Helvetica', 'Arial', 'sans-serif';
$font-size: 18px;
$font-weight: 400;
$line-height: 1;


// Container
$container-padding: 15px;
$container-width: 1170px + $container-padding * 2;


//  Media screen
$screen-xs: 0;
$screen-sm: 480px;
$screen-md: 767px;
$screen-lg: 992px;
$screen-xl: 1200px;

$extra-xl: 1400px;