/* bradcrums */
.woocommerce .woocommerce-breadcrumb {
  font-size: 16px;
  color: #999999;
  line-height: 1.4;
}
.woocommerce .woocommerce-breadcrumb a {
  color: $breadcrums;
}
.breadcrum-icon {
  display: inline-block;
  font-size: 14px;
  margin: 0 9px;
  color: #a9a9a9;
}
